<% include ../partials/header %>

    <h1>Submit New Splash</h1>
    <form method = "POST" action="/splash">
        <div class="form-group">
            <label for="imageTitle">Image Title</label>
            <input type="input" class="form-control" id="imageTitle" name="title">
        </div>
        <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="input" class="form-control" id="imageURL" name="url">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 
    <% include ../partials/footer %>