<% include ../partials/header %>

    <h1>Submit New Splash</h1>
    <form method="POST" action="/splash" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input type="file" class="form-control" id="imageUpload" name="image" required>
        </div>
        <div class="form-group">
            <label for="imageTitle">Image Title</label>
            <input type="input" class="form-control" id="imageTitle" name="title">
        </div>
        <div class="form-group">
            <label for="imageDescription">Description</label>
            <textarea class="form-control" id="imageDescription" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        <button type="button" class="btn btn-light hide" id="processingButton" disabled>Processing...</button>
    </form>

    <script>
        document.getElementById("submitButton").addEventListener("click", disableButton)

        function disableButton() {
            if (document.getElementById("imageUpload").value) {
                document.getElementById("submitButton").classList.add("hide")
                document.getElementById("processingButton").classList.remove("hide")
            }
        }
    </script>

<% include ../partials/footer %>