<% include ../partials/header %>

<div class="box">
    <h1>Make A Splash</h1>
    <form method="POST" action="/splash" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input type="file" class="form-control" id="imageUpload" name="image" required>
        </div>
        <div class="form-group">
            <label for="imageTitle">Image Title</label>
            <input type="input" class="form-control" id="imageTitle" name="title" maxlength="64">
        </div>
        <div class="form-group">
            <label for="imageDescription">Description</label>
            <textarea class="form-control" id="imageDescription" name="description" maxlength="20000"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Add Splash</button>
        <button type="button" class="btn btn-light hide" id="processingButton" disabled>Processing...</button>
    </form>
</div>

    <script src="/javascripts/submitImage.js"></script>

<% include ../partials/footer %>