<% include ../partials/header %>

    <div class="row">
        <div class="col-12" id="splash">
            <h1>
                <%= splash.title %>
            </h1>
            <h6><a href="<%= splash._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></h6>
            <img class="full-splash-image" src="<%= splash.url %>">
            <div></div>
        </div>
    </div>

    <% include ../partials/footer %>