body { 
    background: url("/images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-bottom: 20px;
}

textarea {
    min-height: 200px;
}

p {
    white-space: pre-wrap;
}

.comment textarea {
    min-height: 75px;
}

.unreleased {
    visibility: hidden;
    height: 0px;
}

.add-comment {
    float: right;
}

.edit-button {
    margin-left: 3px;
}

.hide {
    display: none;
}

.navbar-custom {
    background-color:rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.box {
    background-color:rgba(255, 255, 255, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px;
}

.comment {
    background-color:rgba(255, 255, 255, 0.9);
    padding: 20px 20px 5px 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.comment input {
    margin-top: 5px;
}

.splash-image {
    background: lightblue;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.splash-link {
    text-decoration: none !important;
}

.full-splash-image {
    max-width: 100%;
}

.prev-next {
    width: 100px;
    text-align: center;
}

#navButtons button {
    width: 75px;
    margin-right: 5px;
}

#splash {
    text-align: center;
}

#splash p {
    text-align: left;
}

#splash .splash-author {
    float: right;
    display: inline-block;
}

#splash .like {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

#delete-button{
    float:right;
}
